# Core App & UI
streamlit==1.48.1
streamlit-lottie==0.0.5
Pillow==11.3.0

# NLP & Retrieval
sentence-transformers==5.1.0
faiss-cpu==1.12.0
torch==2.8.0
accelerate==1.10.0
transformers==4.55.2
huggingface-hub==0.34.4
safetensors==0.6.2
tokenizers==0.21.4
tenacity==9.1.2
requests==2.32.4

# Plotting
matplotlib==3.10.5
seaborn==0.13.2
plotly==6.3.0

# Utilities
pandas==2.3.1
numpy==2.3.2
gdown
python-dotenv==1.1.1
